* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: url("https://picsum.photos/id/550/600/400"),
    linear-gradient(135deg, #00AEFF, #fff);
    background-size: cover;
}

.container{
    max-width: 70rem;
    width: 50%;
    background: #fff;
    opacity: 0.9;
    padding: 2.5rem 3.5rem;
    border-radius: .5rem;
    
}

section{
    position: relative;
    left: 8rem;
    
}

.container .title{
    
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
}
.container .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: .3rem;
    width: 3rem;
    background: linear-gradient(135deg, #00AEFF #ffff);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 1.2rem 0;
}
form .user-details{
    margin-bottom: 15px;
    width: calc(100% /2 - 2rem);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: .5rem;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    padding-left: 1.5rem;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:focus{
    border-color: #00AEFF;
}

form .button{
    height: 45px;
    margin: 45px 0;
}
button{
    height: 100%;
    width: 100%;
    outline: none;
    columns: #fff;
    border: none;
    font-size:18px ;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #00AEFF;
}


form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    columns: #fff;
    border: none;
    font-size:18px ;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6) ;
}

form .button input:hover{
    background: linear-gradient(135deg, #00AEFF, #9b59b6) ;

}

@media (max-width: 584px){
    .container{
        max-width: 70rem;
        width: 100%;
    }

    form .user-details{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{

    }
}
